 <div class="home-banner" data-stretch="<%= image_url "bj.jpg" %>">
 	<div class="banner-inner container clearfix">
		<h1>It's Party Time Drinkup!</h1>
		<p class="subheading">你好用户~</p>
		<div class="home-banner-links">
    		<%= link_to "发布新活动", "/issues/new", class: "banner-btn btn" %>
		</div>
	</div>
</div>
<div class="issue-list-header">
	<div class="container clearfix">
		<h1>所有的活动都在下面了....</h1>
	</div>
</div>
<div class="container clearfix">
	<div class="container clearfix">
		<% @issues.each do |i| %>
		<div class="issue-list">
			<article class="issue clearfix">
      			<div class="avatar">
        			<a href="/"><img src=http://gravatar.com/avatar/1354684.png?s=512&amp;d=retro alt=""></a>      
        		</div>
      			<div class="body">
        			<h5 class="title">
         				
         				<%= link_to i.title, issue_path(i) %>
        			</h5>
        			<a class="read-more" href="#">read</a>
        			<span class="meta-data">
          				<a href="/">lichen</a>
                  <%= time_ago_in_words(i.created_at) %> 前
        			</span>
      			</div>
      			<div class="issue-comment-count">
              <i class="fa fa-comments icon-muted"></i>
        			<%= link_to i.comments.count, i %>
      			</div>
    		</article>
  		</div>
  		<% end %>
	</div>
</div>
<script>
    $('.home-banner').anystretch();
    var hideNotice = function(){
      $(".notice").fadeOut("slow");
    }
    setTimeout(hideNotice, 2000)
</script>