<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BBS</title>
  <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] + '-' + params[:action] %>">  
  <div class="navbar clearfix">
    <div class="container">
        <a class="navbar-brand" href="/">BBS</a>
        <ul class="nav left">
            <li><%= link_to t("navbar.about"),'about'%></li>
            <li><a href="#"></a></li>
        </ul>
        <ul class="nav right">
          <% if current_user %>
            <li><%= link_to current_user.name, "#" %></li>
            <li><%= link_to "退出", logout_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to "登陆", login_path %></li>
            <li><%= link_to "注册", signup_path %></li>
          <% end %>
         </ul>
      </div>
  </div>
  <% if flash.notice %>
    <div class="notice">
      <%= flash.notice %>
    </div>
  <% end %>
  <%= yield %>
  <div class="footer">
    <div class="container">
        footer
      </div>
  </div>
  
</body>
</html>
